<a href="https://colab.research.google.com/github/raghuls72001/Data-Science/blob/main/Reading_from_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df2=pd.read_csv("./drive/MyDrive/Foundation of Data Science/CSV_EX_2.csv",header=None)

In [ ]:
df2

   2   1500        Good   300000
0  3   1300        Fair   240000
1  3   1900   Very good   450000
2  3   1850         Bad   280000
3  2   1640        Good   310000

In [ ]:
df2=pd.read_csv("./drive/MyDrive/Foundation of Data Science/CSV_EX_2.csv",names=['b','sq','x','y'])

In [ ]:
df2

   b    sq           x       y
0  2  1500        Good  300000
1  3  1300        Fair  240000
2  3  1900   Very good  450000
3  3  1850         Bad  280000
4  2  1640        Good  310000

Empty DataFrame
Columns: [b, sq, x, y]
Index: []

In [ ]:
df3=pd.read_csv("./drive/MyDrive/Foundation of Data Science/CSV_EX_3.csv")

In [ ]:
df3

  Bedroom; Sq. foot; Locality; Price ($)
0                  2; 1500; Good; 300000
1                  3; 1300; Fair; 240000
2             3; 1900; Very good; 450000
3                   3; 1850; Bad; 280000
4                  2; 1640; Good; 310000

In [ ]:
df3=pd.read_csv("./drive/MyDrive/Foundation of Data Science/CSV_EX_3.csv",sep=';')

In [ ]:
df3

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [ ]:
df3.set_index('Lo')

KeyError: ignored

In [ ]:
df5=pd.read_csv("./drive/MyDrive/Foundation of Data Science/CSV_EX_skiprows.csv",skiprows=2)

In [ ]:
df5

  Filetype: CSV              Unnamed: 1  Unnamed: 2  Unnamed: 3
0           NaN  Info about some houses         NaN         NaN
1       Bedroom                Sq. foot    Locality   Price ($)
2             2                    1500        Good      300000
3             3                    1300        Fair      240000
4             3                    1900   Very good      450000
5             3                    1850         Bad      280000
6             2                    1640        Good      310000

In [ ]:
df6=pd.read_csv("./drive/MyDrive/Foundation of Data Science/CSV_EX_skipfooter.csv")

In [ ]:
df6

  Filetype: CSV                Unnamed: 1  Unnamed: 2  Unnamed: 3
0           NaN    Info about some houses         NaN         NaN
1       Bedroom                  Sq. foot    Locality   Price ($)
2             2                      1500        Good      300000
3             3                      1300        Fair      240000
4             3                      1900   Very good      450000
5             3                      1850         Bad      280000
6             2                      1640        Good      310000
7           NaN   This is the end of file         NaN         NaN

In [ ]:
df7=pd.read_csv("./drive/MyDrive/Foundation of Data Science/CSV_EX_1.csv",nrows=3)

In [ ]:
pd

In [ ]:
df7

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000

In [ ]:
list_of_dataframes=[]
num_chunks=5
rows_in_a_chunks=10
df_dummy=pd.read_csv('./drive/MyDrive/Foundation of Data Science/boston_housing.csv',nrows=2)
col_names=df_dummy.columns
for in range(0,num_chunks*rows_in_a_chunks):
  df=pd.read_csv('./drive/MyDrive/Foundation of Data Science/boston_housing.csv',header=0,skiprows=2)
  list_of_dataframes.append(df)